# Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto

In [2]:
!pip install lxml
import numpy as np 

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

from sklearn.cluster import KMeans

import requests # library to handle requests

import json # library to handle JSON files
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

!pip install beautifulsoup4
from bs4 import BeautifulSoup # for webscraping
import xml

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.9.1)
Requirement already satisfied: soupsieve>1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4) (2.0.1)
Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Libraries imported.

## 1. Use the Notebook to build the code to scrape the following Wikipedia page

https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:

In [10]:
# Get wiki page content
link = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
soup = BeautifulSoup(requests.get(link).text)

## 2. To create the dataframe from the wiki page:

- The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
- Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
- More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.
- If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
- Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
- In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [35]:
# Load table into a dataframe
table_html = str(soup.find('table'))
table_html
df = pd.read_html(table_html)[0]

df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

#### 2.1 The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [36]:
df = df[["Postal Code", "Borough", "Neighbourhood"]]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

#### 2.2 Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [37]:
df = df[df["Borough"] != "Not assigned"]
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

#### 2.3 More than one neighborhood can exist in one postal code area. 

For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [38]:
# the latest table on the wiki page has no postal code listed more than once
# no need to write code to combine rows with same postal code
dd = df.groupby(['Postal Code']).count()
dd

             Borough  Neighbourhood
Postal Code
M1B                1              1
M1C                1              1
M1E                1              1
M1G                1              1
M1H                1              1
M1J                1              1
M1K                1              1
M1L                1              1
M1M                1              1
M1N                1              1
M1P                1              1
M1R                1              1
M1S                1              1
M1T                1              1
M1V                1              1
M1W                1              1
M1X                1              1
M2H                1              1
M2J                1              1
M2K                1              1
M2L                1              1
M2M                1              1
M2N                1              1
M2P                1              1
M2R                1              1
M3A                1              1
M3B                1              1
M3C                1              1
M3H                1              1
M3J                1              1
M3K                1              1
M3L                1              1
M3M                1              1
M3N                1              1
M4A                1              1
M4B                1              1
M4C                1              1
M4E                1              1
M4G                1              1
M4H                1              1
M4J                1              1
M4K                1              1
M4L                1              1
M4M                1              1
M4N                1              1
M4P                1              1
M4R                1              1
M4S                1              1
M4T                1              1
M4V                1              1
M4W                1              1
M4X                1              1
M4Y                1              1
M5A                1              1
M5B                1              1
M5C                1              1
M5E                1              1
M5G                1              1
M5H                1              1
M5J                1              1
M5K                1              1
M5L                1              1
M5M                1              1
M5N                1              1
M5P                1              1
M5R                1              1
M5S                1              1
M5T                1              1
M5V                1              1
M5W                1              1
M5X                1              1
M6A                1              1
M6B                1              1
M6C                1              1
M6E                1              1
M6G                1              1
M6H                1              1
M6J                1              1
M6K                1              1
M6L                1              1
M6M                1              1
M6N                1              1
M6P                1              1
M6R                1              1
M6S                1              1
M7A                1              1
M7R                1              1
M7Y                1              1
M8V                1              1
M8W                1              1
M8X                1              1
M8Y                1              1
M8Z                1              1
M9A                1              1
M9B                1              1
M9C                1              1
M9L                1              1
M9M                1              1
M9N                1              1
M9P                1              1
M9R                1              1
M9V                1              1
M9W                1              1

#### If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [41]:
# there is no neighbourhood equals "Not assigned" after removing rows with borough equals "Not assigned"!
df[df["Neighbourhood"] == "Not assigned"]

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

#### In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [42]:
df.shape

(103, 3)